name: Build and Test E2E

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: Setup Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Install dependencies, build, and test
      run: |
        nix develop --command bash -c '
          make install-deps
          make build
          make e2e
        '

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: go-generate-fast
        path: bin/go-generate-fast
        retention-days: 7
