name: Build and Test E2E

on: [pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Install Nix
      uses: DeterminateSystems/nix-installer-action@main

    - name: Setup Nix cache
      uses: DeterminateSystems/magic-nix-cache-action@main

    - name: Install go dependencies
      run: nix develop --command make install-deps

    - name: Build
      run: nix develop --command make build

    - name: Test e2e
      run: nix develop --command make e2e

    - name: Upload build
      uses: actions/upload-artifact@v4
      with:
        name: go-generate-fast
        path: bin/go-generate-fast
        retention-days: 7
